@media only screen and (min-width:45em){
    header{
        padding:0.5rem 10%;
        display: flex;
        justify-content: space-between;
        
    }
    
    header img{
        
        display: inline-block;
        max-width:100px;
    }
    .contentbox{
        max-width:80%;
        margin: 0.3rem auto;
    }




}